* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #12141d;
  --white: #ffffff;
  --gray:  #f2f3f2;
  --lime:#c7cbac;
  --text:#2b2b2b;
}

body {
  font-family: "inter", sans-serif;
  background-color:  var(--gray); /* Soft green-grey outer background */
  min-height: 100vh;
  padding: 20px;
}


.dashboard {
  background:var(--lime);
  border-radius:25px;
  padding: 7px;
}


/* header */

header {
  position: sticky;
  min-height: auto; 
  top: 0;
  z-index: 1000;
  /* top: 50px;
  left: 120px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 90px;
  margin-top: 30px; */
  width: 90%;
}

h1 {
  max-width: 350px;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

#setting-icon {
  font-size: 18px;
  background: var(--gray);
  padding: 12px;
  border-radius: 50%;
}

.create-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--dark);
  color: var(--white);
  padding: 12px 14px;
  border: none;
  border-radius: 14px;
}


/* SIDEBAR */

.sidebar {
  top: 0px;
  position: sticky;
  z-index: 100;
  min-height: 100vh;
  background: var(--dark);
  color: var(--white);
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
}

i {
  font-size: 18px;
}
.top-sidebar {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.bottom-sidebar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.userprofile img {
  border-radius: 50%; 
  height: 30px;
  width: 30px;
}


/* main */



